body {
  line-height: 1.6rem;
  background-color: rgb(179, 247, 179);
}

section {
  margin: 0.6rem 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  width: 65.5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
}

p {
  margin: 0.5rem 1rem;
}

h1 {
  font-size: xx-large;
  padding: 0.5rem;
}

h2 {
  font-size: x-large;
  margin-top: 1rem;
  margin-left: 1rem;
}

footer {
  margin-top: 1rem;
  border-top: black 3px dotted;
  padding: 1rem;
  text-align: center;
}

li {
  margin-left: 1rem;
}

ul {
  margin-left: 2rem;
  list-style: disc;
}

ol {
  margin-left: 2rem;
  list-style:decimal;
}

.rightside {
  margin-top: -1rem;
  float: right;
}

.borderedimage {
  margin: 1rem 1rem 0 1rem;
  border: black 3px solid;
  width: 600px;
  border-style: solid solid none solid;
  outline-offset: -3px;
}

.imagecaption {
  text-align: center;
  margin-top: -0.5rem;
  width: 600px;
  border: black 3px solid;
  border-style: none solid solid solid;
  outline-offset: -3px;
  background-color: rgba(128, 128, 128, 0.15);
}

.mygoals {
  font-size: 18px;
}

.quiz {
  padding: 1rem;
  width: 65rem;
  margin-left: 1rem;
}

.you_said {
  color: darkslateblue;
}

.i_responded {
  color: darkred;
}

.finalscore {
  color: darkgreen;
  font-weight: bold;
}

.titlesection {
  width: 104rem;
}
