body {
  background-color: lightcyan;
}

blockquote {
  margin-left: 2rem;
  padding: 1rem;
  border-left: black 5px solid;
  background-color: rgba(128, 128, 128, 0.15);
  width: 63.5%;
}

h1 {
  font-size: xx-large;
  padding: 1rem;
}

h2 {
  font-size: x-large;
  margin-top: 1rem;
  margin-left: 1rem;
}

footer {
  
  margin-top: 1rem;
  border-top: black 3px dotted;
  padding: 1rem;
  text-align: center;
}

ol {
  margin-left: 2rem;
  list-style: disc;
}

.rightside {
  float: right;
  text-align: right;
  width: 25%;
  margin-top: 1rem;
  margin-right: 3rem;
}

.borderedimage {
  border: black 3px solid;
  border-style: solid solid none solid;
  outline-offset: -3px;
}

.imagecaption {
  border: black 3px solid;
  border-style: none solid solid solid;
  outline-offset: -3px;
  margin-top: -0.2rem;
  margin-right: -25px;
  text-align: left;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.15);
}

.mygoals {
  padding: 1rem;
}

.quiz {
  padding: 1rem;
  width: 63.5%;
  margin-left: 1rem;
}

.i_asked {
  padding-top : 0.1rem;
  padding-bottom: 0.1rem;
  font-weight: bold;
}

.you_said {
  padding-top : 0.1rem;
  padding-bottom: 0.1rem;
  color: darkslateblue
}

.i_responded {
  padding-top : 0.1rem;
  padding-bottom: 0.1rem;
  color: darkred
}
